---
http_interactions:
- request:
    method: get
    uri: https://www.ossboard.org/404
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/octet-stream
      Clear-Site-Data:
      - '"cache", "cookies", "storage", "executionContexts"'
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <html>
          <head>
            <title>404 - Not Found</title>
            <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
            <style>
              * { margin: 0; padding: 0; }
              body { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; color: #333; background-color: #ecf0f1; font-size: 16px; line-height: 24px; }
              h2, h3 { margin: -20px; line-height: 100px; text-align: center; }
              .logo { text-align: center; margin-top: 0.5em; }
              h2 { font-size: 30px; }
              h3 { font-size: 20px; line-height: 22px; color: #666; }
              hr { margin: 2em; color: #ecf0f1; }
              ul { text-align: center; }
              li { display: inline; margin: 2em; line-height: 24px; list-style-type: none; vertical-align: text-top;}
              p { margin-top: 60px; text-align: center; }
              a { color: #333; padding: 1px; }
              code { padding: .2em; background-color: #ecf0f1 }
              #container { margin: 20% auto; padding: 24px; width: 75%; background-color: #fff; border: 1px solid #999; border-width: 1px; }
              #content { margin: 30px 10px 0 10px; }
              #footer { margin:0 auto 0; padding: 12px; width:700px; line-height: 24px; font-size: 12px; }
              .bold { font-weight: bold; }
            </style>
          </head>
          <body>
            <div id="container">
              <h2>404 - Not Found</h2>
            </div>
          </body>
        </html>
  recorded_at: Sat, 21 Oct 2017 18:01:30 GMT
recorded_with: VCR 3.0.3
