.pure-alert {
  background-color: rgb(209, 235, 238);
  color: rgb(102, 131, 145);
  position: relative;
  margin-bottom: 1em;
  padding: 1em;
  background: #ccc;
  border-radius: 3px;
}

.pure-alert-success {
  background-color: rgb(83, 180, 79);
  color: #fff;
}

.pure-alert-error {
  background-color: #a94442;
  color: #fff;
}
