.footer {
  background: #36416D;
  color: #fff;
  margin: 0 -10px;

  .footer-content {
    padding: 1.5em 5em;
    text-align: center;

    .footer-content__link {
      &:link,
      &:active,
      &:visited {
        color: #fff;
        text-decoration: none;
        font-size: 0.7em;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 461px) {
    .footer {
        margin: 0 -25px;
    }
}
@media screen and (min-width: 921px) {
    .footer {
        margin: 0 -50px;
    }
}

