.footer {
  background: #000;
  color: #fff;
  line-height: 1.6;
  padding: 1em;
  min-height: 3.28em;
  text-align: center;
}

.footer {
  min-height: 3.28em; 

  ul {
    list-style: none;
  }

  li {
    margin: 10px 0;
  }

  h6 {
    text-transform: uppercase;
    font-size: .8em;
    margin: 0;
  }

  p {
    font-size: .8em;
  }

  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #ccc;
    }
  }

  .footer-copy {
    p {
      font-size: 16px;
      margin-top: 50px;
    }
  }
}

