.highlighter-rouge table td { padding: 5px; }
.highlighter-rouge table pre { margin: 0; }
.highlighter-rouge {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
}
.highlighter-rouge .cm {
  color: #999988;
  font-style: italic;
}
.highlighter-rouge .cp {
  color: #999999;
  font-weight: bold;
}
.highlighter-rouge .c1 {
  color: #999988;
  font-style: italic;
}
.highlighter-rouge .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlighter-rouge .c, .highlighter-rouge .cd {
  color: #999988;
  font-style: italic;
}
.highlighter-rouge .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlighter-rouge .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlighter-rouge .ge {
  color: #000000;
  font-style: italic;
}
.highlighter-rouge .gr {
  color: #aa0000;
}
.highlighter-rouge .gh {
  color: #999999;
}
.highlighter-rouge .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlighter-rouge .go {
  color: #888888;
}
.highlighter-rouge .gp {
  color: #555555;
}
.highlighter-rouge .gs {
  font-weight: bold;
}
.highlighter-rouge .gu {
  color: #aaaaaa;
}
.highlighter-rouge .gt {
  color: #aa0000;
}
.highlighter-rouge .kc {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .kd {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .kn {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .kp {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .kr {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .kt {
  color: #445588;
  font-weight: bold;
}
.highlighter-rouge .k, .highlighter-rouge .kv {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .mf {
  color: #009999;
}
.highlighter-rouge .mh {
  color: #009999;
}
.highlighter-rouge .il {
  color: #009999;
}
.highlighter-rouge .mi {
  color: #009999;
}
.highlighter-rouge .mo {
  color: #009999;
}
.highlighter-rouge .m, .highlighter-rouge .mb, .highlighter-rouge .mx {
  color: #009999;
}
.highlighter-rouge .sb {
  color: #d14;
}
.highlighter-rouge .sc {
  color: #d14;
}
.highlighter-rouge .sd {
  color: #d14;
}
.highlighter-rouge .s2 {
  color: #d14;
}
.highlighter-rouge .se {
  color: #d14;
}
.highlighter-rouge .sh {
  color: #d14;
}
.highlighter-rouge .si {
  color: #d14;
}
.highlighter-rouge .sx {
  color: #d14;
}
.highlighter-rouge .sr {
  color: #009926;
}
.highlighter-rouge .s1 {
  color: #d14;
}
.highlighter-rouge .ss {
  color: #990073;
}
.highlighter-rouge .s {
  color: #d14;
}
.highlighter-rouge .na {
  color: #008080;
}
.highlighter-rouge .bp {
  color: #999999;
}
.highlighter-rouge .nb {
  color: #0086B3;
}
.highlighter-rouge .nc {
  color: #445588;
  font-weight: bold;
}
.highlighter-rouge .no {
  color: #008080;
}
.highlighter-rouge .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.highlighter-rouge .ni {
  color: #800080;
}
.highlighter-rouge .ne {
  color: #990000;
  font-weight: bold;
}
.highlighter-rouge .nf {
  color: #990000;
  font-weight: bold;
}
.highlighter-rouge .nl {
  color: #990000;
  font-weight: bold;
}
.highlighter-rouge .nn {
  color: #555555;
}
.highlighter-rouge .nt {
  color: #000080;
}
.highlighter-rouge .vc {
  color: #008080;
}
.highlighter-rouge .vg {
  color: #008080;
}
.highlighter-rouge .vi {
  color: #008080;
}
.highlighter-rouge .nv {
  color: #008080;
}
.highlighter-rouge .ow {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .o {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .w {
  color: #bbbbbb;
}
.highlighter-rouge {
  background-color: #f8f8f8;
}
