.level {
  border-radius: 100px;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 4px;
  padding: 8px 16px;
}

.level-novice {
  background: #00C853;
 
  &:before {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='46px' height='10px' viewBox='12 9 26 6' version='1.1'><g id='dots' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate(12.000000, 9.000000)'><circle id='Oval' fill='#FFFFFF' cx='3' cy='3' r='3'/><circle id='Oval-Copy' fill='#FFFFFF' opacity='0.397644928' cx='13' cy='3' r='3'/><circle id='Oval-Copy-2' fill='#FFFFFF' opacity='0.397644928' cx='23' cy='3' r='3'/></g></svg>");
    margin-right: 10px;
  }
}

.level-intermediate {
  background: #FFB300;
 
  &:before {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='46px' height='10px' viewBox='12 9 26 6' version='1.1'><g id='dots' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate(12.000000, 9.000000)'><circle id='Oval' fill='#FFFFFF' cx='3' cy='3' r='3'/><circle id='Oval-Copy' fill='#FFFFFF' cx='13' cy='3' r='3'/><circle id='Oval-Copy-2' fill='#FFFFFF' opacity='0.397644928' cx='23' cy='3' r='3'/></g></svg>");
    margin-right: 10px;
  }
}

.level-advanced {
  background: #EF5350;
 
  &:before {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='46px' height='10px' viewBox='12 9 26 6' version='1.1'><g id='dots' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate(12.000000, 9.000000)'><circle id='Oval' fill='#FFFFFF' cx='3' cy='3' r='3'/><circle id='Oval-Copy' fill='#FFFFFF' cx='13' cy='3' r='3'/><circle id='Oval-Copy-2' fill='#FFFFFF' cx='23' cy='3' r='3'/></g></svg>");
    margin-right: 10px;
  }
}
