.settings {
  .user-repos {
    width: 70%;
    margin: 2em auto;

    .user-repos__i {
      padding: 1em 1em;
      background: #FFFFFF;
      box-shadow: 0 0 1px 0 rgba(43, 59, 124, 0.18), 0 1px 3px 0 rgba(43, 59, 125, 0.14);
      border-radius: 2px;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
      display:none;

      &:checked + .slider {
        background-color: #00D531;
      }

      &:focus + .slider {
        box-shadow: 0 0 1px #00D531;
      }

      &:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;

    &:before {
      border-radius: 34px;
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }
}
