.static-container {
  margin: 100px 8%;
}

.about {
  a {
      padding: 9px 3px;
  }
  .about__intro {
    p {
      margin: 0;
    }
  }

  .about__how {
  }

  .about__principles {
  }

  .about__help {
  }

  .about__future {
  }

  .about__participate {
  }
}
