.about {
  margin: 100px 8%;

  a {
      padding: 9px 3px;
  }

  .about__intro {
    margin: 10px 0;
    p {
      margin: 0;
    }
  }

  .about__how {
    margin: 10px 0;
  }

  .about__principles {
    margin: 10px 0;
  }

  .about__help {
    margin: 10px 0;
  }

  .about__future {
    margin: 10px 0;
  }

  .about__participate {
    margin: 10px 0;
  }
}
