/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (max-width: 48em) {
  .tasks {
    margin: 100px 4%;
  }

  .tasks__new {
    margin: 10px 0;
  }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 48em) {
  .tasks {
    margin: 100px 8%;
  }
}


.tasks {
  .tasks__actions {
    margin: 0 0 20px;

    .tasks__new {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    .pure-menu-selected {
      background-color: #ccc;

      a {
        color: #000 !important;
      }
    }

    .tasks__search {
    }
  }

  .tasks__list {
  }
}

.task-search {
  width: 100%;
  margin: 20px 0;

  display: flex;
  justify-content: space-between;

  .task-search__keyword {
    margin: 0 2px;
    max-width: 73%;
  }

  .task-search__lang {
    width: 130px;
    margin: 0 2px;
  }

  .task-search__submit {
    width: 150px !important;
    margin: 0 2px;
  }
}

.task-item {
  margin: 5px 0;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px 20px;

  &:hover {
    background-color: #ddd;
  }

  .task-item__title {
    width: 500px;
  }

  .task-item__lang {
    width: 200px;
    text-align: center;
  }

  .task-item__repo {
    width: 100px;
    text-align: center;
  }
}

.task {
  margin: 100px 8%;

  .task__title {
  }

  .task__body {
  }

  .task__status {
    display: flex;
    margin: 20px 0;

    form {
      margin: 0;
    }

    input {
      margin: 0 20px 0 0;
      width: 150px;
      height: 37px;
      padding: 5px;
    }
  }

  .task__actions {
    margin: 5px 0;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 0;

    a {
      margin: 5px 0;
    }
  }

  .task__contact {
    text-align: center;
    color: #32c107;
    border: 1px solid #32c107;

    &:hover {
      background-color: #32c107;
      color: #fff;
    }
  }

  .task__share {
  }

  .task__comments-disabled {
    a {
      padding: 0 5px;
    }
  }
}

.new-task {
  margin: 100px 8%;

  .new-task__errors {
    position: fixed;
    margin: 5px 0;
    display: flex;
    width: 85%;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: 10px 20px;

    color: red;
  }

  .new-task__import {
    margin: 5px 0;
    display: flex;
    width: 77%;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: 10px 20px;

    .new-task__github-import {
      margin: 0;
      color: #32c107;
      border: 1px solid #32c107;

      &:hover {
        background-color: #32c107;
        color: #fff;
      }
    }
  }

  .new-task__form {
    width: 75%;

    textarea {
      width: 100%;
      height: 300px;
      margin: 10px 0;
    }

    select {
      width: 30%;
      margin: 10px 0;
    }

    a {
      margin: 5px 10px 0 0;
    }

    .agree-checkbox {
      input {
        width: 20px;
      }
    }
  }
}


.task-form {
  .task-form__body-tip {
    text-align: right;
  }
}


.task-body {
  .task-body__preview {
    text-align: left;
    white-space: normal;
  }

  .task-body__menu {
    padding: .5em 0 0 0;
    width: 440px;
    margin: 0 -10px -7px;
  }
}
