/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (max-width: 48em) {
  .show-user {
    margin: 1em 0;

    .show-user__info {
      margin: 1em 0;
      width: 100%;
    }

    .show-user__tasks {
      width: 100%
    }

    .tasks {
      margin: 0;
    }
  }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 48em) {
  .show-user {
    margin: 2em 0;

    .show-user__info {
      width: 30%;
      margin: 3em 0 1em;
    }

    .show-user__tasks {
      width: 65%;
    }

    .tasks {
      margin: 0 0 0 2em;
    }
  }
}


.show-user {
  display: flex;
  flex-wrap: wrap;

  .show-user__info {
    .show-user__avatar {
      img {
        max-width: 100%;
      }
    }

    .show-user__bio {
      color: #7f8c8d;
    }

    .show-user__github {
      a {
        padding: 0;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .show-user__switch {
    font-size: 26px;
    margin: 0 0 1em;

    .show-user__switch-item {
      display: inline-block;
    }

    span {
      margin: 0 0.5em;
    }

    button {
      background:none!important;
      border:none;
      padding:0!important;
      font: inherit;
      cursor: pointer;
      color: #214CFD;

      &:hover {
        color: #FD2121;
      }
    }

    .show-user__switch-item-link_active {
      cursor: default;
      color: #222;

      &:hover {
        color: #222;
      }
    }
  }

  .tasks {
    .task__title {
      margin: 0 0 30px;
    }

    .tasks__list {
      color: #000;

      .waiting-task {
        color: #7f8c8d;
      }

      .task-item__title {
        width: 60%;
        a {
          padding: 0;
        }
        span {
          margin: 0 10px;
        }
      }

      .task-item__status {
        width: 120px;
        text-align: right;
      }

      .task-item__lang {
        width: 100px;
        text-align: right;
      }
    }
  }
}
