.footer {
  background: #000;
  color: #fff;
  line-height: 1.6;
  padding: 1em;
  min-height: 3.28em;
  text-align: center;
}

.footer {
  min-height: 3.28em; 

  p {
    font-size: .8em;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

