@import 'load_animation';
@import 'alerts';
@import 'user';
@import 'modal';
@import 'syntax';
@import 'static';
@import 'tasks';
@import 'footer';
@import 'landing';
@import 'highlight';

@charset "utf-8";

// Reset
a,b,button,dd,div,dl,dt,em,form,h1,h2,h3,h4,h5,h6,i,input,img,label,li,ol,p,s,select,small,span,strong,sub,sup,td,textarea,th,u,ul {vertical-align: baseline;}
body,button,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,html,input,li,ol,p,pre,select,table,td,textarea,th,ul {margin: 0; padding: 0;}
img,table,td,th {border: 0 none;}
button,input,select,textarea {outline: 0 none;}
textarea {overflow: auto;}
ul,li {list-style-type: none;}
html,body,input,textarea,button { font-family: "Open Sans", "Helvetica Neue", "Arial", sans-serif; font-size: 20px; line-height: 1.33; }
html,body { background: #fff; color: #222; }

// General
.overflow {
    overflow: hidden;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
@media screen and (min-width: 461px) {
    .wrapper {
        padding: 0 25px;
    }
}
@media screen and (min-width: 921px) {
    .wrapper {
        padding: 0 50px;
    }
}

// Header
.header {
    overflow: hidden;
    padding: 0.75em 0 0;
}
.header-logo {
    text-align: center;
}
.header-logo__img {
    vertical-align: top;
    width: 100%;
}
.header-menu {
    text-align: center;
    margin: 1em 0 0;
}
.header-menu-item {
    display: inline-block;
    vertical-align: top;
    font-size: 0.7em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0.5em 0.5em;
}
.header-menu-item__link:link,
.header-menu-item__link:active,
.header-menu-item__link:visited {
    display: inline-block;
    vertical-align: top;
    color: #214CFD;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 100px;
}
.header-menu-item__link:hover {
    color: #FD2121;
}
.header-menu-item__link_button:link,
.header-menu-item__link_button:active,
.header-menu-item__link_button:visited {
    box-shadow: inset 0 0 0 1px #214CFD;
    padding: 0.5em 1.4em;
}
.header-menu-item__link_button:hover {
    background: #214CFD;
    color: #fff;
}
@media screen and (min-width: 271px) {
    .header-logo {
        height: 2.35em;
    }
    .header-logo__img {
        width: auto;
        height: 100%;
    }
}
@media screen and (min-width: 721px) {
    .header-logo {
        float: left;
        text-align: left;
    }
    .header-menu {
        float: right;
        text-align: left;
        padding: 0.2em 0;
        margin: 0;
    }
    .header-menu-item {
        float: left;
        display: block;
        margin: 0 0.5em;
    }
    .header-menu-item:last-child {
        margin-right: 0;
    }
    .header-menu-item__link:link,
    .header-menu-item__link:active,
    .header-menu-item__link:visited {
        padding: 0.75em;
    }
    .header-menu-item__link_button:link,
    .header-menu-item__link_button:active,
    .header-menu-item__link_button:visited {
        padding: 0.75em 2.2em;
    }
}

// Promo
.promo {
    margin: 2em auto 6em;
    padding: 43% 0 0;
    text-align: center;
    max-width: 34em;
    // background: url(../images/promo__bg.png) no-repeat 50% 0 / 100% auto;
}
@media screen and (min-width: 721px) {
    .promo {
        margin: 4.25em auto 9.5em;
        padding: 12.25em 0 0;
        background-size: 612px 221px;
    }
}
.promo__header {
    font-size: 2.4em;
    font-weight: 600;
    padding: 0 0 0.35em;
}
.promo__description {
    color: #1F48FD;
    font-weight: 600;
}
.promo-buttons {
    margin: 4.5em -1.5em 0;
    font-size: 0.7em;
    position: relative;
    z-index: 1;
}
.promo-buttons:after {
    content: 'or';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2.78;
    z-index: -1;
}
.promo-buttons-item {
    display: inline-block;
    vertical-align: top;
    line-height: 2.78;
    width: 8em;
    text-align: center;
    padding: 0 1.5em;
    text-transform: uppercase;
}
.promo-buttons-item__button:link,
.promo-buttons-item__button:active,
.promo-buttons-item__button:visited {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border-radius: 100px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: transform 0.2s;
    transform: scale(1);
    padding: 0;
}
.promo-buttons-item__button:hover {
    transform: scale(1.05);
}
.promo-buttons-item__button:before {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.85em;
    line-height: 2.75;
    font-weight: normal;
    text-transform: lowercase;
    color: #686868;
}
.promo-buttons-item__button_blue:link,
.promo-buttons-item__button_blue:active,
.promo-buttons-item__button_blue:visited {
    background: #214CFD;
    box-shadow: 0 15px 10px -18px #214CFD;
}
.promo-buttons-item__button_green:link,
.promo-buttons-item__button_green:active,
.promo-buttons-item__button_green:visited {
    background: #00D531;
    box-shadow: 0 15px 10px -18px #00D531;
}
.promo-buttons-item__button_blue:before {
    content: 'contribute';
}
.promo-buttons-item__button_green:before {
    content: 'ask for help';
}
@media screen and (min-width: 721px) {
    .promo-buttons {
        margin: 4.5em 0 0;
    }
    .promo-buttons-item {
        padding: 0 2.5em;
        width: 10em;
    }
}

// WhatIsThis
.whatisthis {
    max-width: 46em;
    margin: 0 auto;
}
.whatisthis__header {
    text-align: center;
    font-weight: 600;
    font-size: 2.1em;
    padding: 0 0 0.5em;
    margin: 0 0 1em;
    position: relative;
}
.whatisthis__header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 2.5em;
    height: 0.12em;
    margin: 0 auto;
    background: #1F48FD;
}
.whatisthis__description {
    color: #616161;
    margin: 0 auto 4.5em;
    max-width: 40em;
}
.whatisthis-choice {
    font-size: 0;
    text-align: center;
}
.whatisthis-choice-item {
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 4em;
}

button.whatisthis-choice-item__link {
}

.whatisthis-choice-item__link,
.whatisthis-choice-item__link:link,
.whatisthis-choice-item__link:active,
.whatisthis-choice-item__link:visited {
    cursor: pointer;
    background: none;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 0.7em;
    line-height: 3.28;
    text-decoration: none;
    border: 1px solid #214CFD;
    color: #214CFD;
    width: 10.5em;
}
.whatisthis-choice-item__link:hover {
    background: #FD2121;
    border-color: #FD2121;
    color: #fff;
}
.whatisthis-choice-item__link_active,
.whatisthis-choice-item__link_active:hover {
    background: #214CFD;
    border-color: #214CFD;
    color: #fff;
    cursor: default;
}
.whatisthis-choice-item:first-child .whatisthis-choice-item__link {
    border-radius: 100px 0 0 100px;
}
.whatisthis-choice-item:last-child .whatisthis-choice-item__link {
    border-radius: 0 100px 100px 0;
}
.whatisthis-features {
    font-size: 0;
    margin: 0 -3%;
}
.whatisthis-features-item {
    width: 70%;
    font-size: 20px;
    padding: 10.75em 0 0;
    margin: 0 auto 4em;
    text-align: center;
    position: relative;
    z-index: 1;
    counter-increment: whatisthis-features-item;
}
.whatisthis-features-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 9em;
    height: 9em;
    background: #D4DDFF;
    border-radius: 50%;
    z-index: -2;
}
.whatisthis-features-item:after {
    content: counter(whatisthis-features-item);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #617FFA;
    font-size: 3.2em;
    line-height: 2.8125;
    font-weight: 600;
    z-index: -1;
}
.whatisthis-features-item__header {
    font-size: 1em;
    font-weight: 600;
}
.whatisthis-features-item__text {
    color: #616161;
    padding: 0.2em 0 0;
}
@media screen and (min-width: 721px) {
    .whatisthis-choice-item__link,
    .whatisthis-choice-item__link:link,
    .whatisthis-choice-item__link:active,
    .whatisthis-choice-item__link:visited {
        width: 13.7em;
    }
    .whatisthis-features-item {
        display: inline-block;
        vertical-align: top;
        width: 27.33%;
        margin: 0 3%;
    }
}

// Issues
.issues {
    margin: 8.5em auto 5.5em;
    max-width: 40em;
}
.issues__header {
    text-align: center;
    font-weight: 600;
    font-size: 2.1em;
    padding: 0 0 0.5em;
    margin: 0 0 2em;
    position: relative;
}
.issues__header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 2.5em;
    height: 0.12em;
    margin: 0 auto;
    background: #1F48FD;
}
.issues-list {
    border: 1px solid #214CFD;
    border-radius: 8px;
    margin: 0 0 1.5em;
    position: relative;
    z-index: 1;
}
.issues-list:before {
    content: '';
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 5%;
    box-shadow: 0 -10px 50px 0 rgba(33,75,253,0.43);
    border-radius: 8px;
    z-index: -1;
}
.issues-list-item {
    padding: 1em;
    border-bottom: 1px solid #214CFD;
    position: relative;
}
.issues-list-item:last-child {
    border-bottom: 0;
}
.issues-list-item__title {
    word-wrap: break-word;
}
.issues-list-item__date {
    display: inline-block;
    vertical-align: middle;
    color: #818181;
    font-size: 0.8em;
    padding: 0 0.5em 0 0;
}
.issues-list-item__tag {
    display: inline-block;
    vertical-align: middle;
    color: #214CFD;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
}
.issues-list-item-open {
    margin: 1em auto 0;
    width: 8em;
    text-align: center;
}
.issues-list-item-open__link:link,
.issues-list-item-open__link:active,
.issues-list-item-open__link:visited {
    display: block;
    color: #214CFD;
    box-shadow: inset 0 0 0 1px #214CFD;
    border-radius: 100px;
    font-size: 0.7em;
    font-weight: 600;
    padding: 0.5em 0;
    text-transform: uppercase;
    text-decoration: none;
}
.issues-list-item-open__link:hover {
    background: #214CFD;
    color: #fff;
}
.issues-all {
    text-align: center;
    font-size: 0.9em;
    text-transform: uppercase;
}
.issues-all__link:link,
.issues-all__link:active,
.issues-all__link:visited {
    text-decoration: none;
    color: #214CFD;
    font-weight: 600;
}
.issues-all__link:hover {
    color: #FD2121;
}
@media screen and (min-width: 721px) {
    .issues-list-item {
        padding: 1em 8em 1em 1em;
    }
    .issues-list-item-open {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 1em;
        width: 6em;
        height: 2em;
        margin: auto 0;
    }
    .issues-list-item-open__link:link,
    .issues-list-item-open__link:active,
    .issues-list-item-open__link:visited {
        padding: 0.75em 0;
    }
}

// Footer
.footer {
    background: #36416D;
    color: #fff;
    margin: 0 -10px;
}
.footer-content {
    padding: 1.5em 5em;
    text-align: center;
}
.footer-content__link:link,
.footer-content__link:active,
.footer-content__link:visited {
    color: #fff;
    text-decoration: none;
    font-size: 0.7em;
}
.footer-content__link:hover {
    text-decoration: underline;
}
@media screen and (min-width: 461px) {
    .footer {
        margin: 0 -25px;
    }
}
@media screen and (min-width: 921px) {
    .footer {
        margin: 0 -50px;
    }
}

// other

.main-container {
  min-height: calc(100vh - 250px)
}

.pure-menu-selected {
  a {
    color: #fff !important;
  }
}

.btn {
  text-align: center;
  display: inline-block;
  border-radius: 2px;
  border: none;
  background-color: transparent;
  color: #F07444;
  border: 1px solid #F07444;
  transition: .2s ease;

  &:hover {
    background-color: #F07444;
    color: white;

    transition: .2s ease;
  }
}

a, .btn {
  text-decoration: none;
  padding: 9px;
}

.btn-back {
  padding: 3px;
  width: 100px;
  height: 35px;
  color: #42b8dd;
  border: 1px solid #42b8dd;

  &:hover {
    background-color: #42b8dd;
    color: #fff;
  }
}

.btn-default {
  color: rgba(45, 62, 80, 0.65);
  border: 1px solid rgba(45, 62, 80, 0.65);

  &:hover {
    background-color: rgba(45, 62, 80, 0.65);
    color: #fff;
  }
}

.btn-default-selected {
  border: 1px solid rgba(45, 62, 80, 0.65);
  background-color: rgba(45, 62, 80, 0.65);
  color: #fff;

  &:hover {
    background-color: #fff;
    color: rgba(45, 62, 80, 0.65);
  }
}



.btn-new-task {
  color: #42b8dd;
  border: 1px solid #42b8dd;

  &:hover {
    background-color: #42b8dd;
    color: #fff;
  }
}

.btn-assign {
  color: #f0ad4e;
  border: 1px solid #f0ad4e;

  &:hover {
    background-color: #f0ad4e;
    color: #fff;
  }
}

.btn-done {
  color: #32c107;
  border: 1px solid #32c107;

  &:hover {
    background-color: #32c107;
    color: #fff;
  }
}

.btn-close {
  color: #f04444;
  border: 1px solid #f04444;

  &:hover {
    background-color: #f04444;
    color: #fff;
  }
}

.navbar-dropdown {
  width: 160px !important;

  li {
    background-color: #2d3e50;
  }
}
