.tasks {
  margin: 100px 75px;

  .tasks__actions {
    margin: 0 0 20px;

    .tasks__new {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    .tasks__search {
    }
  }

  .tasks__list {
  }
}

.task-search {
  width: 100%;
  margin: 20px 0;

  display: flex;
  justify-content: space-between;

  .task-search__keyword {
    margin: 0 2px;
    max-width: 73%;
  }

  .task-search__lang {
    width: 130px;
    margin: 0 2px;
  }

  .task-search__submit {
    width: 150px !important;
    margin: 0 2px;
  }
}

.task-item {
  margin: 5px 0;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px 20px;

  &:hover {
    background-color: #ddd;
  }

  .task-item__title {
  }

  .task-item__lang {
    width: 200px;
    text-align: center;
  }
}
