.show-user {
  .show-user__tittle {
  }

  .show-user__attributes {
    .pure-g {
      margin: 5px 0;
    }
  }

  .show-user__actions {
    margin: 10px 0;

    a {
      margin: 0 10px 0 0;
    }
  }
}

.user-form {
  .user-form__fields {
    .user-form__field {
      margin: 10px 0;

      input {
        width: 700px;
      }

      textarea {
        width: 700px;
        height: 200px;
      }

      select {
        width: 200px;
      }
    }
  }

  .user-form__actions {
  }
}


.submited-tasks {
  margin: 40px 0 40px;

  .submited-tasks__title {
    margin: 20px 0;
  }

  .submited-tasks__table {
  }
}
