.admin-menu {
  background: #2d3e50;
  padding: 0.5em;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);

  .pure-menu-heading {
    color: #fff;
  }

  .pure-menu-link {
    color: #b8babb;
    &:hover {
      background: none;
      border: none;
      color: #AECFE5;
    }
  }

  .pure-menu-selected {
    .pure-menu-link {
      color: #fff;
    }
  }

  .pure-menu-list-right {
    float: right;
  }
}
