.show-user {
  .show-user__tittle {
  }

  .show-user__attributes {
    .pure-g {
      margin: 5px 0;
    }
  }

  .show-user__actions {
    margin: 10px 0;

    a {
      margin: 0 10px 0 0;
    }
  }
}
